.lookup-container {
    width: 100%;
}

.dropdown-list {
    margin-top: 0.25rem;
    border: 1px solid #d8dde6;
    background: white;
    border-radius: 0.25rem;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
}

.dropdown-item {
    list-style: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f3f2f2;
}
